body {
    background-color: #000;
}

.grid-container {
    /* Setting up a CSS Grid inside the <div> containing this class
       This is all we have to do to set up a CSS Grid*/
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 100px 1fr 50px; /* e.g. With a total of 3fr (fraction), 1fr is equal to 33% of the height. */
    height: 100vh; /* The grid will have a view height of 100% */
    /* This is how we want our elements to show up on the webpage 
       Put '.' (period) for an empty grid section*/
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

/* The header starts here */
header {
    /* Declaring this element as 'header' for our CSS Grid */
  
    grid-area: header;
    background-color: #171A21; /* Temp. color */
    color: gray;
    padding-left: 1em;
    margin: 20px 0 0 500px;
    text-shadow: 1px 1px 0 white, 
    2px 2px 0 white;
}
#title{
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
}
#clock {
    background-color: #5c7e10;
    color: white;
    font-size: 10px;
    text-align: right;
}

/* Everything relating to main is inside here */
main {
    /* Declaring this element as 'main' for our primary CSS Grid */
    grid-area: main;
    /* Nesting a CSS Grid inside the main element*/
    display: grid;
    grid-template-columns: 1fr 2.5fr 2.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "aside section article"
    "aside section article";
}
section {
    /* Declaring this element as 'section' for our CSS Grid */
    grid-area: section;
    background-color: #1B2838; /* Temp. color */
    color: #fff;
    padding-left: 1em;
    font-family: 'Michroma', sans-serif;
}
article {
    /* Declaring this element as 'article' for our CSS Grid */
    grid-area: article;
    background-color: #1B2838; /* Temp. color */
    color: #fff;
    padding-left: 1em;
    font-family: 'Michroma', sans-serif;
    text-align: right;
}
aside {
    /* Declaring this element as 'aside' for our CSS Grid */
    grid-area: aside;
    background: rgb(42,71,94);
    background: linear-gradient(90deg, rgba(42,71,94,1) 0%, rgba(27,40,56,1) 100%);
    color: #fff;
    padding-left: 1em;
    font-family: 'Michroma', sans-serif;
}

/* Everything in the footer here */
footer {
    /* Declaring this element as "footer four our CSS Grid */
    grid-area: footer;
    background-color: #0E161E; /* Temp. color */
    padding-left: 1em;
}
h3 {
    font-family: 'Waiting for the Sunrise', cursive;
    color: #67c1f5;
    font-size: 20px;
}
